version: "3.9"

services:
  # ==============================
  # JENKINS
  # ==============================
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    user: root
    ports:
      - "6849:8080"
    environment:
      - TZ=Asia/Seoul
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins_home:/var/jenkins_home
    networks:
      - nyd-net

  # ==============================
  # NPM
  # ==============================
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm
    ports:
      # Nginx Proxy Manager HTTP
      - "80:80"
      # Nginx Proxy Manager HTTPS
      - "443:443"
      # Nginx Proxy Manager UI
      - "7477:81"
    volumes:
      - ../npm-data:/data
      - ../npm-letsencrypt:/etc/letsencrypt
    networks:
      - nyd-net


  # ==============================
  # DB: MariaDB
  # ==============================
  nyd-mariadb:
    image: mariadb:10.11
    container_name: nyd-mariadb
    restart: unless-stopped
    environment:
      # .env 에서 가져오는 값들
      MARIADB_ROOT_PASSWORD: "${MARIADB_ROOT_PASSWORD}"
      TZ: "${TZ}"
    ports:
      - "3306:3306"
    volumes:
      # 로컬 mysql-data 디렉터리를 DB 데이터 경로로 사용
      - ./mysql-data:/var/lib/mysql
      - ./mariadb/custom.cnf:/etc/mysql/conf.d/custom.cnf:ro
      - ./logs/mariadb:/var/log/mysql
      - ./logrotate/mariadb-logrotate.conf:/etc/logrotate.d/mariadb-logrotate.conf
    networks:
      - nyd-net

  # ==============================
  # Cache: Redis
  # ==============================
  nyd-redis:
    image: redis:7.2-alpine
    container_name: nyd-redis
    restart: unless-stopped
    # redis.conf + --requirepass 로 비밀번호 적용
    command: >
      redis-server /etc/redis/redis.conf --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf:ro
      - ./logs/redis:/var/log/redis
      - ./logrotate/redis-logrotate.conf:/etc/logrotate.d/redis-logrotate.conf
    environment:
      # 컨테이너 내부에서도 REDIS_PASSWORD 환경변수 사용 가능
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
      TZ: "${TZ}"
    networks:
      - nyd-net

networks:
  nyd-net:
    driver: bridge

volumes:
  mariadb-data:
  redis-data:
